[submodule "v2/ca.michaelabon.streamdeck-inboxes.sdPlugin/property_inspector/sdk"]
	path = v2/ca.michaelabon.streamdeck-inboxes.sdPlugin/property_inspector/sdk
	url = https://github.com/elgatosf/streamdeck-javascript-sdk
